body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    color: rgb(80, 0, 0);
}

div {
    background-color: rgb(50, 205, 120);
    padding: 25px;
}

h2 {
    color: rgb(0, 0, 0);
}

.contenedor2 {
    text-align: center;
}

.formulario {
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
}

input {
    display: block;
    width: 90%;
    margin: 5%;
    padding: 5px;
    margin: 9px auto;
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    outline: none;
    transition: .4s;
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(32, 216, 87);

}

input::placeholder {
    color: rgb(255, 255, 255);

}

input[type="text"]:hover {
    color: black;
    background-color: rgb(124, 161, 144);
}

input[type="email"]:hover {
    color: black;
    background-color: rgb(124, 161, 144);
}

input[type="text"]:focus {
    color: rgb(255, 255, 255);
}

input[type="email"]:focus {
    color: rgb(255, 255, 255);
}

form {
    width: 80%;
    margin: auto;
}

.button {
    padding: 7px 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
    width: 40%;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(182, 219, 192);
    border: 3.3px solid rgb(255, 255, 255);
    cursor: pointer;
}

.button:hover {
    background-color: rgb(48, 145, 74);

}
.negado{
    color: red;
    font-size: 13px;
    padding: 20px;
}
.aceptado{
    color: rgb(13, 68, 27);
    font-size: 13px;
    padding: 20px;
}

.resultado{
    width: 50%;
    color: black;
    background-color: white;
    border-radius: 13px;
    display: none;
}